.chart-container{
    -webkit-box-shadow: 6px 9px 14px -8px rgba(0,0,0,0.3); 
    box-shadow: 6px 9px 14px -8px rgba(0,0,0,0.3);
    flex:4;
    padding: 20px;
    height: 400px;
    border-radius: 5px;
    .title{
        color: #858585;
        font-weight: bold;
    }
}