.progress-container{
    -webkit-box-shadow: 6px 9px 14px 2px rgba(0,0,0,0.15); 
    box-shadow: 6px 9px 14px 2px rgba(0,0,0,0.15);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #858585;
    flex: 2;
    .bar-container{
        height: 150px;
        width: 150px;
        display: flex;
        justify-content:center;
        margin-bottom: 5px;
    }
    .title-container{
        justify-content:space-between;
        font-weight: bold;
        color: #858585;
        width: 100%;
        margin-bottom: 5px;
    }
    .amount{
        font-weight: bold;
        font-size: 30px;
        color:#021328;
        margin : 10px 0;
    }
    .item-container{
        margin-top: 10px;
        justify-content: space-around;
        width: 100%;
        .item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
        .amount{
            font-size: 14px;
            display: flex;
            justify-content:center;
            align-items: center;
            color: #858585;
            .positive{
                color:green;
            }
            .negative{
                color:red;
            }
        }
    }

    
}
