.home-container{
    gap:20px;
    padding: 20px;
    p{
        color: #fff;
    }
    flex-wrap: wrap;
}
.home-info-container{
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    .chart{
        flex:4;
    }
}