.single-container{
    padding: 20px;
    .user-card{
        padding: 25px;
        box-shadow: 6px 9px 14px -8px rgba(0,0,0,0.3);
        border-radius: 5px;
        position: relative;
        .edit-btn{
            display: block;
            position: absolute;
            top: 0px;
            right: 0px;
            padding:5px;
            border-radius: 5px;
            color:plum;
            background-color:rgba(221, 160, 221, 0.144);
            font-size: 15px;
            cursor: pointer;
        }
        .user-info{
            height: 100%;
        }
        
        .title{
            font-weight: bold;
            text-transform: uppercase;
            color: #8585855e;
            display: block;
            margin-bottom: 10px;
            font-size: 18px;
            
        }
        .image-container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .user-img-single{
                height: 150px;
                width: 150px;
                border-radius: 50%;
                object-fit: cover;
                border: 2px solid  rgba(128, 128, 128, 0.425);
            }
        }
        .info-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 10px;
            h2{
                color: grey;
                font-size: 24px;
                font-weight: bold;
            }
            .info-item{
                color:#858585;
                display: flex;
                .itemKey{
                    display: block;
                    padding-right: 5px;
                    color:#858585c7;
                    
                }
            }
        }
        
    }
}
.user-card{
    padding: 20px;
    box-shadow: 6px 9px 14px -8px rgba(0,0,0,0.3);
    border-radius: 5px;}